:root {
  --base-color: #eff1f5;
  --attention-color: #e64553;
  --overlay-color: #8c8fa1;
  --interact-color: #7287fd;
}

body {
  background-color: var(--base-color);
  color: var(--base-color);
  display: grid;
  gap: 20px;
  padding: 20px;
}

header {
  background-color: var(--overlay-color);
  border-radius: 12px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

main {
  display: grid;
  gap: 20px;
}

h1 {
  text-align: center;
}

button {
  border: none;
  background-color: var(--interact-color);
  color: var(--base-color);
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
  padding: 20px;
}

#new-book {
  border-radius: 0 0 12px 12px;
  padding: 0;
}

#library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  gap: 20px;
}

.book {
  border-radius: 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 50px 50px 50px;
  color: var(--base-color);
  background-color: var(--overlay-color);
}

.book > * {
  margin: 0;
  padding: 0 10px;
  display: grid;
  align-items: center;
  text-align: center;
}

.book > :first-child {
  border-radius: 12px 12px 0 0;
  background-color: var(--attention-color);
  font-size: 1.3rem;
}

.book > :last-child {
  border-radius: 0 0 12px 12px;
  background-color: var(--interact-color);
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  justify-items: center;
}

.actions > * {
  height: 70%;
  cursor: pointer;
}

#toggle-read:hover {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(35deg);
}

#remove-book:hover {
  filter: invert(0.5) sepia(1) saturate(2) hue-rotate(316deg);
}

#interactions {
  background-color: var(--overlay-color);
  border-radius: 12px;
  padding: 20px;
  display: grid;
  gap: 20px;
}

#interactions > form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.form-field {
  display: grid;
  gap: 5px;
}

.form-field.radio {
  grid-column: 1;
  grid-template-columns: 50px 1fr;
  justify-items: start;
  align-items: center;
}

input {
  padding: 10px;
  border-radius: 12px;
  outline: none;
  border: none;
}

input[type='checkbox'] {
  accent-color: var(--interact-color);
}
